body {
    font-size: 24px;
}

h1 {
    display: inline;
}

.head {
    width: 100%;
    background-color: #d7d7d7;
    color: #727272;
    line-height: 250%;
    text-align: center;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.head .back {
    display: inline-block;
    width: 10%;
    position: absolute;
    left: 2%;
    color: #727272;
}

.content {
    width: 100%;
    padding: 5% 0;
}

.content .article {
    width: 95%;
    color: #646464;
    font-size: 0.8em;
    margin: 0 auto;
    text-align: center;
}

.content .article .title {
    color: #404040;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.content .article .date {
    color: #646464;
    font-size: 0.6em;
    text-align: center;
}

.content .article .writer {
    color: #646464;
    font-size: 0.6em;
    text-align: center;
}

.content .article img {
    width: 80%;
}

.content .article p {
    text-align: left;
}
@media only screen and (max-width: 2048px) {
    body {
        font-size: 24px;
    }
}
@media only screen and (max-width: 640px) {
    body {
        font-size: 20px;
    }
}

@media only screen and (max-width: 320px) {
    body {
        font-size: 16px;
    }
}