#editor-top-part .tab-button {
  margin-left: 75%;
}
#editor-top-part .tab-button button {
  margin: 5px;
}
#editor-left-part {
  float: left;
  width: 38%;
}
#editor-left-part table {
  text-align: center;
}
#editor-left-part table th {
  text-align: center;
}
#editor-right-part {
  float: right;
  width: 750px;
}
#editor-right-part .left-part {
  width: 45%;
  display: inline-block;
}
#editor-right-part .right-part {
  margin-left: 5%;
  display: inline-block;
}
#summernote{
  width: 700px;
}
