body {
    font-size: 18px;
}

h1 {
    display: none;
}

.head {
    width: 100%;
    position: relative;
    text-align: center;
}

.head .logo {
    width: 93%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.content {
    width: 100%;
    padding-bottom: 60px;
}

.content .list {
    width: 93%;
    margin: 0 auto;

}

.content .list .list-cell {
    display: block;
    width: 100%;
    height: 40%;
    margin: 3% 0;
    background-color: #fff;
}

.content .list .list-cell .icon {
    float: left;
    text-align: center;
    width: 20%;
    padding: 2% 0;
}

.content .list .list-cell .icon img {
    width: 80%;
    border-radius: 10px;
}

.content .list .list-cell .detail {
    float: left;
    width: 70%;
    margin-left: 2%;
    padding: 3% 0;
}

.content .list .list-cell .detail strong {
    color: #25B3F6;
    font-weight: bold;
}

.content .list .list-cell .detail p {
    color: #767676;
    font-size: 0.875em;
}

.content .list .list-cell .go {
    width: 5%;
    height: 100%;
    float: left;
    display: inline-block;
    text-align: center;
    padding-top: 6%;
}

.content .list .list-cell .go img {
    width: 100%;
}

@media only screen and (max-width: 2048px) {
    body {
        font-size: 22px;
    }

    .head .logo {
        height: 200px;
    }

    .content .list .list-cell .go img {
        width: 60%;
    }

    .content .list .list-cell .detail {
        letter-spacing: 3px;
    }

    .content .list .list-cell .icon img {
        width: 38%;
    }

}

@media only screen and (max-width: 640px) {
    body {
        font-size: 18px;
    }

    .head .logo {
        height: auto;
    }

    .content .list .list-cell .go img {
        width: 100%;
    }

    .content .list .list-cell .detail {
        letter-spacing: 0px;
    }

    .content .list .list-cell .icon img {
        width: 80%;
    }

}

@media only screen and (max-width: 320px) {
    body {
        font-size: 14px;
    }

    .head .logo {
        height: auto;
    }

    .content .list .list-cell .go img {
        width: 100%;
    }

    .content .list .list-cell .detail {
        letter-spacing: 0px;
    }

    .content .list .list-cell .icon img {
        width: 80%;
    }
}